/*DESIGN WORKS with window width min 1300*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;300;400;500;600;700&display=swap");

@font-face {
  font-family: "Biotif";
  src: url("Illustrations/biotif-1/Biotif-Light.ttf") format("truetype"); /* Replace 'path/to/biotif.woff' with the actual path to your .woff font file */
}
/* Add additional font weights/styles if needed */

/*COLORS*/
.bg-white {
  background-color: #f5f2f2;
}
.bg-transparent {
  background-color: #3f3d3d00;
}
.bg-black {
  color: #191919;
}
.white {
  color: #f5f2f2;
}
.black {
  color: #191919;
}
.red {
  color: #ff0002;
}

/*LAYORS*/
* {
  box-sizing: border-box;
  border-style: none;
}

html {
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-width: 100%;
  z-index: -2;
  font-size: 1.7vw;
}

body {
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-width: 100%;
  z-index: 0;
  position: absolute;

  overflow-y: scroll;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

section {
  margin: 0;
}

.full-width {
  width: 100vw;
}

body {
  font-family: "Biotif", sans-serif;
  font-weight: light;
}

a:hover {
  color: #ff0002;
  text-decoration: none;
}

/*FIRST PART*/
#splash-wrapper {
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  overflow-y: hidden;
}

/*SPLASH*/
#splash {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 100vh;
  max-height: 100vw;
} /*will only take the space needed*/

#splash img {
  max-width: 92vw;
  max-height: 80vh;
}

#portrait-wrapper {
  max-width: 100vw;
  padding: 4vw;
  margin-top: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
  margin: 0;
}

/*SECOND SECTION*/
#slogan {
  position: absolute;
  top: 0;
  /* opacity: 1; */
  z-index: 2;
  margin-bottom: 100vh;
  overflow: hidden; /* Add this line to hide the overflow content */
  display: block;
}

.slogan {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12rem;
  line-height: 12rem; /* 96.429% */
  text-transform: uppercase;
  margin: 0;
}

/*VIDEO BACKGROUND*/
#video-background-wrapper {
  position: static;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vw;
  transition: height 0.8s ease-out;
}

#video-background-wrapper:hover {
  cursor: url("Illustrations/cursor-when-hovering.svg"), pointer;
}

#video-background-wrapper video {
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vw;
  object-fit: cover;
  z-index: -2;
}

/*MAIN CONTENT SECTION*/
#disciplines {
  position: relative;
  font-size: 0.6rem;
  line-height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.discipline-section h2 {
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-weight: 300;
  text-align: center;
  margin-top: 0.7rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  writing-mode: vertical-rl;
  color: #191919;
  text-transform: uppercase;
  font-weight: 100;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*INTERACTIVE RESIZING*/
/* DISCIPLINE-SECTION + SECTION-CONTENT-description */
.discipline-section {
  display: flex;
  flex-basis: 2.1rem;
  flex-grow: 0;
  align-items: flex-start;
  transition: flex-grow 1s ease-in; /* Remove the width transition */
  height: 18vw;
}

.discipline-section.opened h2 {
  display: none;
}

.discipline-section:not(:last-child) {
  border-right: solid 0.06rem #191919;
}

.section-description {
  padding-top: 6rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 1.6rem;
  width: 100%; /* Set the width to 100% initially */
  transition: width 1s ease-in, display 1s ease-in;
  justify-content: end;
  align-items: end;
}

.section-description p {
  min-width: 30%;
  max-width: 70%;
  max-height: 70%;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

/*DISCIPLINE-SECTIONS CONTENT-SECTIONS*/
#vertical-discipline-content-sections-wrapper {
  display: flex;
  gap: 0;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap; /* Prevents content from wrapping to the next line */
  min-height: 100vh;
  max-width: 100vw; /*mmmh*/
  overflow-y: scroll;
}

.content-section {
  background-color: #f5f2f2;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex-shrink: 0;
  flex-basis: 100vw;
  padding: 1.6rem;
  padding-top: 3.2rem;
}

/*display the right section*/
#disciplines:has(#komposition.opened) ~ #vertical-discipline-content-sections-wrapper #komposition-content {
  background-color: #ff0002;
  display: flex;
}


#disciplines:has(
  #komposition.closed
)
  ~ #vertical-discipline-content-sections-wrapper
  #komposition-content {
  display: none;
}

/*appear on scroll effect*/
.appear-on-scroll {
  opacity: 0.2;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/*INTERACTIVE CURSOR*/
.discipline-section:not(.opened):hover {
  cursor: url("Illustrations/cursor-when-hovering.svg"), pointer;
}

body {
  cursor: url("Illustrations/cursor.svg"), auto; /* Replace with the correct path to your cursor.svg file */
}

a:hover {
  cursor: url("Illustrations/cursor-when-hovering.svg"), pointer; /* Replace with the path to a red version of your cursor.svg */
}

/*FOR RESPONSIVE*/
@media screen and (max-aspect-ratio: 1/1) {
  #video-background-wrapper video {
    position: absolute;
    top: 100vw;
  }
}
