/*DESIGN WORKS with window width min 1300*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;300;400;500;600;700&display=swap");

@font-face {
  font-family: "Biotif";
  src: url("Illustrations/biotif-1/Biotif-Light.ttf") format("truetype"); /* Replace 'path/to/biotif.woff' with the actual path to your .woff font file */
}
/* Add additional font weights/styles if needed */

/*COLORS*/
.bg-white {
  background-color: #f5f2f2;
}
.bg-transparent {
  background-color: #3f3d3d00;
}
.bg-black {
  color: #191919;
}
.white {
  color: #f5f2f2;
}
.black {
  color: #191919;
}
.red {
  color: #ff0002;
}

/*LAYORS*/
* {
  box-sizing: border-box;
  border-style: none;
}

html {
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-width: 100%;
  z-index: -2;
}

body {
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-width: 100%;
  z-index: 0;
  position: absolute;

  overflow-y: scroll;
  overflow-x: hidden;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
}

section {
  width: 100vw;
  margin: 0;
}

body {
  font-family: "Biotif", sans-serif;
  font-weight: light;
  font-size: 1vw;
}

a:hover {
  color: #ff0002;
  text-decoration: none;
}

/*FIRST PART*/
#splash-wrapper {
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  overflow-y: hidden;
}

/*SPLASH*/
#splash {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 100vh;
  max-height: 100vw;
} /*will only take the space needed*/

#splash img {
  max-width: 92vw;
  max-height: 80vh;
}

#portrait-wrapper {
  max-width: 100vw;
  padding: 4vw;
  margin-top: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
  margin: 0;
}

/*SECOND SECTION*/
#slogan {
  position: absolute;
  top: 0;
  /* opacity: 1; */
  z-index: 2;
  margin-bottom: 100vh;
  overflow: hidden; /* Add this line to hide the overflow content */
  display: block;
}

.slogan {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12rem;
  line-height: 12rem; /* 96.429% */
  text-transform: uppercase;
  margin: 0;
}

/*VIDEO BACKGROUND*/
#video-background-wrapper {
  position: static;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vw;
  transition: height 1.2s ease-out;
}
#video-background-wrapper:hover {
  height: 100vh; /* Adjust the height to the desired value when hovered over */
  max-height: 100vw;
}

#video-background-wrapper video {
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vw;
  object-fit: cover;
  z-index: -2;
}

/*LINKS SECTION*/
#disciplines {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 90vh;
}

#disciplines section {
  width: auto;
  transition: flex-grow 0.5s;
  /* Align h2 to the top of each section */
  align-items: flex-start;
}
#disciplines section:not(:last-child) {
  border-right: 1px solid #191919;
}

#disciplines section:hover {
  flex-grow: 1;
}

#disciplines section h2 {
  padding-top: 1.6rem;
  padding-bottom: 2.2rem;
  display: inline-block;
  writing-mode: vertical-rl;
  color: #191919;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

#disciplines section:hover h2 {
  color: #ff0002;
}

/*
#lyrik {
  width: 100vw;
  padding: 20rem;
  font-family: Blinker;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-transform: uppercase;
}
#lyrik h2 {
  width: 100vw;
  padding: 20rem;
  font-family: Blinker;
  font-size: 3.5rem;
  font-weight: 400;
}*/

/*CURSOR*/
body {
  cursor: url("Illustrations/cursor.svg"), auto; /* Replace with the correct path to your cursor.svg file */
}

a:hover {
  cursor: url("Illustrations/cursor-when-hovering.svg"), pointer; /* Replace with the path to a red version of your cursor.svg */
}
