/*DESIGN WORKS with window width min 1300*/

/* BIOTIF */
@font-face {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 900;
  src: url("Illustrations/biotif-1/Biotif-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 800;
  src: url("Illustrations/biotif-1/Biotif-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 600;
  src: url("Illustrations/biotif-1/Biotif-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 500;
  src: url("Illustrations/biotif-1/Biotif-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 400;
  src: url("Illustrations/biotif-1/Biotif-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 100;
  src: url("Illustrations/biotif-1/Biotif-Light.ttf") format("truetype");
}

/*OTHER FONTS*/
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100, 300, 400, 700;
  src: url("https://fonts.gstatic.com/s/lato/v22/S6u8w4BMUTPHh30AUi-qJCY.woff2")
    format("woff2");
}

@font-face {
  font-family: "Blinker";
  font-style: normal;
  font-weight: 100, 300, 400, 500, 600, 700;
  src: url("https://fonts.gstatic.com/s/blinker/v7/cIf_MaFatEEqwFz1U4mFkX0.woff2")
    format("woff2");
}

@font-face {
  font-family: "KyivTypeTitling-Heavy3";
  src: url("Illustrations/kyiv-type-titling/KyivTypeTitling-Heavy3.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("https://fonts.gstatic.com/s/publicsans/v3/revvDaXGRiROVWKOnmP2QQ.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*COLORS*/
.bg-white {
  background-color: #f5f2f2;
}
.bg-transparent {
  background-color: #3f3d3d00;
}
.bg-black {
  color: #191919;
}
.white {
  color: #f5f2f2;
}
.black {
  color: #191919;
}
.red {
  color: #ff0002;
}

/*LAYORS*/
* {
  box-sizing: border-box;
  border-style: none;
}

html {
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-width: 100%;
  z-index: -2;
  font-size: 1.7vw;
}

body {
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-width: 100%;
  z-index: 0;
  position: absolute;

  overflow-y: scroll;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

section {
  margin: 0;
}

.full-width {
  width: 100vw;
}

body {
  font-family: "Biotif", sans-serif;
  font-weight: light;
}

a:hover {
  color: #ff0002;
  text-decoration: none;
}

/*FIRST PART*/
#splash-wrapper {
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  overflow-y: hidden;
}

/*SPLASH*/
#splash {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 100vh;
  max-height: 100vw;
} /*will only take the space needed*/

#splash img {
  max-width: 92vw;
  max-height: 80vh;
}

#portrait-wrapper {
  max-width: 100vw;
  padding: 4vw;
  margin-top: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
  margin: 0;
}

/*SECOND SECTION*/
#slogan {
  position: absolute;
  top: 0;
  z-index: 2;
  margin-bottom: 100vh;
  overflow: hidden; /* Add this line to hide the overflow content */
  display: block;
}

.slogan {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12rem;
  line-height: 12rem; /* 96.429% */
  text-transform: uppercase;
  margin: 0;
}

/*VIDEO BACKGROUND*/
#video-background-wrapper {
  position: static;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vw;
  transition: height 0.5s ease-out;
}

#video-background-wrapper.small-video-wrapper:hover {
  cursor: url("Illustrations/cursor-when-hovering.svg"), pointer;
}

#video-background-wrapper video {
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vw;
  object-fit: cover;
  z-index: -2;
}

/*MAIN CONTENT SECTION*/
#artist,
#grey-sky-background-frame,
#grey-sky-background {
  width: 100vw;
  height: 100vh;
  max-height: 100vw;
}

#artist {
  position: relative;
  overflow: visible;

  margin-top: 2.5vw;
}

#artist {
  font-family: "Biotif";
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
}

#grey-sky-background-frame {
  border-width: 2vw 2vw 2vw 2vw;
  border-style: solid;
  border-color: #f5f2f2;
  overflow: hidden;
}

#grey-sky-background-frame,
#artist-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /*beide children relativ zu #artist*/
}

#grey-sky-background {
  position: absolute;
  top: 0;
  left: -2vw; /*due to margin*/

  box-sizing: border-box;
  width: 100vw;
  opacity: 1;
  background-attachment: local; /*moves when divs top-poisition is updated*/
}

#grey-sky-background-img {
  position: absolute;
  top: 0;
  width: 100vw;
  height: auto;
  opacity: 0.6;
}

#artist-content {
  width: 100vw;
  margin: 2vw 0 2vw 0;
  padding: 0 2vw 0 2vw;

  overflow-y: scroll;
  overflow-x: visible;
}

#wrapper {
  overflow-y: hidden;
}

#artist-hi {
  width: 96vw;
  height: 100vh;
  max-height: 96vw;
  display: flex;
  justify-content: flex-end;
  padding: 4vw;
  padding-right: 50vw;
}

#artist-content a {
  font-family: "Biotif";
}

/*DISCIPLINES */
/*Menu Bar styles*/
.menu-bar {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  position: absolute;
  cursor: move;
  z-index: 99;
  bottom: 5vw;
  right: 4vw;
  cursor: grab;
}

.menu-item {
  height: 1.5rem;
  min-height: 1.5rem;
  max-height: 1.5rem;
  cursor: pointer;
}

.menu-item:not(.selected-item) {
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  background-color: #ff0002;
}

.selected-item {
  min-width: 1.5rem;
  max-width: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  background-color: #191919;
  cursor: auto;
}

/* Disciplines Wrapper styles */
#intersection-wrapper {
  position: absolute;
  top: 20%;
  width: 100vw;
  height: 30%;
  border-style: solid;
}

#disciplines-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: visible;
}

.discipline {
  width: 96vw;
  height: 200vh;
  max-height: 196vw;
  padding: 4vw;
  margin-bottom: 6vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-top: 30vh;
}

.discipline h3 {
  font-size: 3rem;
}

.discipline p,
.discipline-content {
  font-size: 2rem;
  line-height: 2rem;
  max-width: 60vw;
}

/*MOVE IN FROM LEFT EFFECT*/
.on-scroll {
  opacity: 0.5;
  filter: blur(5px);
  transition: opacity 1s ease-in-out, filter 1s ease-in-out;
}

/* .on-scroll.hidden {
  opacity: 0.5;
  filter: blur(10px);
} */

.on-scroll.show {
  opacity: 1;
  filter: blur(0px); /* Kein Blur-Effekt */
  transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.on-scroll:hover {
  opacity: 1;
  filter: blur(0px); /* Kein Blur-Effekt */
  transition: filter 2s ease-in-out, opacity 1s ease-in-out;
}

/*INTERACTIVE CURSOR*/
body {
  cursor: url("Illustrations/cursor.svg"), auto; /* Replace with the correct path to your cursor.svg file */
}

a:hover {
  cursor: url("Illustrations/cursor-when-hovering.svg"), pointer; /* Replace with the path to a red version of your cursor.svg */
  color: #ff0002;
}

a:visited {
  cursor: url("Illustrations/cursor-when-hovering.svg"), pointer; /* Replace with the path to a red version of your cursor.svg */
  color: #ff0002;
}

/*FOR RESPONSIVE*/
@media screen and (max-aspect-ratio: 1/1) {
  #video-background-wrapper video {
    position: absolute;
    top: 100vw;
  }
}

/* PERFORMANCE */
img,
video {
  content-visibility: auto;
}
